.p-Home.navbar {
display: flex;
justify-content: space-between;
margin-left: 30px;
margin-right: 30px;
border-color: ;
align-items: center;
margin-bottom: 10px;
}
.p-Home.menu_flex1 {
display: flex;
align-items: center;
row-gap: ;
column-gap: 20px;
justify-content: space-around;
width: 60%;
}
.p-Home.Flex7 {
display: flex;
justify-content: space-between;
row-gap: ;
column-gap: 30px;
font-size: 18px;
}
.p-Home.Div17 {
;
}
.p-Home.Div18 {
;
}
.p-Home.Div19 {
;
}
.p-Home.Div20 {
;
}
.p-Home.Div21 {
;
}
.p-Home.buttons_flex_2 {
display: flex;
align-items: center;
justify-content: space-around;
column-gap: 25px;
border-radius: 0px;
border-style: none;
border-width: 0px;
width: 35%;
}
.p-Home.section_Div22 {
height: 480px;
margin-left: 10px;
margin-right: 10px;
align-self: auto;
}
.p-Home.Flex8 {
display: inline-flex;
overflow: visible;
background-clip: border-box;
-webkit-background-clip: border-box;
height: 480px;
justify-content: space-between;
width: 100%;
}
.p-Home.Div23 {
width: 50%;
align-self: center;
}
.p-Home.Div25 {
height: ;
}
.p-Home.Flex9 {
display: flex;
}
.p-Home.Div26 {
display: inline-block;
margin-top: 20px;
}
.p-Home.Div24 {
width: 50%;
display: inline-block;
height: ;
background-color: #ff7629;
align-self: auto;
padding-top: 40px;
}
.p-Home.section_Div27 {
;
}
.p-Home.Flex10 {
display: flex;
align-content: stretch;
flex-direction: column;
row-gap: 20px;
padding-top: 75px;
}
.p-Home.Div28 {
display: block;
align-self: center;
}
.p-Home.Div29 {
;
}
.p-Home.Flex11 {
display: flex;
row-gap: ;
column-gap: 25px;
justify-content: center;
}
.p-Home.Div30 {
;
}
.p-Home.Div31 {
;
}
.p-Home.Div32 {
;
}
.p-Home.Div33 {
;
}
.p-Home.section_Div44 {
padding-bottom: 100px;
}
.p-Home.Flex19 {
display: flex;
flex-direction: column;
margin-top: 150px;
column-gap: ;
row-gap: 25px;
align-items: center;
}
.p-Home.Div45 {
;
}
.p-Home.Div46 {
;
}
.p-Home.Flex20 {
display: flex;
row-gap: ;
column-gap: 10px;
justify-content: space-around;
}
.p-Home.Div48 {
width: 25%;
padding-top: 20px;
padding-right: 15px;
padding-bottom: 20px;
padding-left: 15px;
border-width: 3px;
border-style: solid;
border-color: #c5c5c5;
border-radius: 20px;
}
.p-Home.Flex21 {
display: flex;
flex-direction: column;
align-items: center;
width: ;
row-gap: 20px;
padding-top: ;
padding-bottom: ;
padding-left: ;
padding-right: ;
}
.p-Home.Div49 {
width: 25%;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 15px;
padding-right: 15px;
border-width: 3px;
border-style: solid;
border-color: #c5c5c5;
border-radius: 20px;
}
.p-Home.Flex22 {
display: flex;
flex-direction: column;
align-items: center;
column-gap: ;
row-gap: 20px;
}
.p-Home.Div50 {
width: 25%;
padding-top: 20px;
padding-right: 15px;
padding-bottom: 20px;
padding-left: 15px;
border-color: #c5c5c5;
border-width: 3px;
border-style: solid;
border-radius: 20px;
}
.p-Home.Flex23 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;
}
.p-Home.Div51 {
width: 25%;
padding-top: 20px;
padding-right: 15px;
padding-bottom: 20px;
padding-left: 15px;
border-width: 3px;
border-style: solid;
border-color: #c5c5c5;
border-radius: 20px;
}
.p-Home.Flex24 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;
}
.p-Home.Div47 {
;
}
.p-Home.Flex25 {
display: flex;
column-gap: 30px;
}
.p-Home.section_Div52 {
background-color: #fff9f3;
padding-bottom: ;
position: relative;
}
.p-Home.Flex26 {
display: flex;
padding-top: 150px;
padding-left: 150px;
column-gap: 20px;
align-items: stretch;
align-content: stretch;
align-self: auto;
}
.p-Home.Div53 {
padding-bottom: ;
}
.p-Home.Div150 {
padding-top: 50px;
padding-right: 20px;
padding-left: 50px;
padding-bottom: 50px;
border-radius: 50px;
background-color: #ffffff;
width: ;
position: relative;
bottom: 250px;
left: 100px;
float: none;
}
.p-Home.Flex92 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Div151 {
;
}
.p-Home.Flex93 {
display: flex;
row-gap: ;
column-gap: 20px;
align-items: stretch;
align-content: stretch;
align-self: auto;
width: ;
}
.p-Home.Div152 {
;
}
.p-Home.Flex94 {
display: flex;
column-gap: 20px;
}
.p-Home.Div153 {
;
}
.p-Home.Flex95 {
display: flex;
column-gap: 20px;
}
.p-Home.Div54 {
padding-top: 100px;
width: ;
padding-left: ;
padding-right: 20px;
}
.p-Home.Flex27 {
display: flex;
flex-direction: column;
row-gap: 30px;
align-items: stretch;
}
.p-Home.Div56 {
;
}
.p-Home.Flex28 {
display: flex;
column-gap: 10px;
}
.p-Home.section_Div57 {
padding-top: 150px;
}
.p-Home.Flex29 {
display: flex;
flex-direction: column;
column-gap: ;
row-gap: 30px;
}
.p-Home.Div58 {
align-self: center;
}
.p-Home.Div67 {
align-self: center;
}
.p-Home.Div70 {
align-self: center;
}
.p-Home.Flex35 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Div71 {
;
}
.p-Home.Flex36 {
display: flex;
column-gap: 20px;
row-gap: ;
padding-bottom: 30px;
}
.p-Home.Div77 {
width: 50%;
}
.p-Home.Flex38 {
display: flex;
column-gap: 20px;
}
.p-Home.Div81 {
width: 50%;
}
.p-Home.Flex42 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Div82 {
width: 50%;
}
.p-Home.Flex44 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Div78 {
width: 50%;
}
.p-Home.Flex39 {
display: flex;
column-gap: 20px;
}
.p-Home.Div83 {
width: 50%;
}
.p-Home.Flex46 {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
row-gap: 10px;
}
.p-Home.Div84 {
width: 50%;
}
.p-Home.Flex48 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Div72 {
;
}
.p-Home.Flex37 {
display: flex;
column-gap: 20px;
padding-top: 30px;
}
.p-Home.Div79 {
width: 50%;
}
.p-Home.Flex40 {
display: flex;
width: ;
column-gap: 20px;
}
.p-Home.Div85 {
width: 50%;
}
.p-Home.Flex43 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Div86 {
width: 50%;
}
.p-Home.Flex45 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Div80 {
width: 50%;
}
.p-Home.Flex41 {
display: flex;
column-gap: 20px;
}
.p-Home.Div87 {
width: 50%;
}
.p-Home.Flex47 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Div88 {
width: 50%;
}
.p-Home.Flex49 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Div89 {
padding-bottom: 200px;
align-self: auto;
}
.p-Home.Flex50 {
display: flex;
align-items: stretch;
justify-content: center;
column-gap: 30px;
}
.p-Home.section_Div90 {
background-color: #f55a01;
}
.p-Home.Flex51 {
display: flex;
align-items: stretch;
align-self: auto;
}
.p-Home.Div91 {
width: 50%;
background-color: transparent;
padding-top: 100px;
padding-bottom: 100px;
align-self: center;
padding-left: 100px;
height: 100%;
flex-grow: 0;
padding-right: ;
}
.p-Home.Flex52 {
display: flex;
justify-content: flex-start;
flex-direction: column;
row-gap: 30px;
color: #000000;
}
.p-Home.Div93 {
;
}
.p-Home.Flex53 {
display: flex;
column-gap: 20px;
}
.p-Home.Div92 {
width: 50%;
}
.p-Home.section_Div95 {
;
}
.p-Home.Flex54 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;
padding-top: 150px;
margin-bottom: ;
padding-bottom: 150px;
}
.p-Home.Div96 {
;
}
.p-Home.Div98 {
padding-top: 40px;
}
.p-Home.Flex57 {
display: flex;
column-gap: 20px;
}
.p-Home.Div100 {
;
}
.p-Home.Div101 {
;
}
.p-Home.Flex55 {
display: flex;
align-items: center;
column-gap: 30px;
}
.p-Home.Div102 {
width: 60px;
height: 60px;
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
padding-left: 5px;
border-radius: 100%;
background-color: ;
}
.p-Home.Div103 {
padding-top: 50px;
padding-bottom: 40px;
padding-right: 50px;
padding-left: 50px;
border-radius: 50px;
border-style: solid;
border-width: 4px;
border-color: #cccccc;
}
.p-Home.Flex56 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Div106 {
;
}
.p-Home.Flex58 {
display: flex;
row-gap: ;
column-gap: 4px;
}
.p-Home.Div108 {
width: 30px;
height: 30px;
}
.p-Home.Div109 {
width: 30px;
height: 30px;
}
.p-Home.Div110 {
width: 30px;
height: 30px;
}
.p-Home.Div111 {
width: 30px;
height: 30px;
}
.p-Home.Div112 {
width: 30px;
height: 30px;
}
.p-Home.Div107 {
;
}
.p-Home.Flex59 {
display: flex;
column-gap: 20px;
align-items: flex-start;
justify-content: flex-start;
}
.p-Home.Div113 {
width: 50px;
height: 50px;
}
.p-Home.Div114 {
width: ;
height: 50px;
}
.p-Home.Flex60 {
display: flex;
justify-content: flex-start;
align-items: stretch;
flex-direction: column;
align-self: auto;
row-gap: 6px;
}
.p-Home.Div104 {
width: 60px;
height: 60px;
background-color: transparent;
border-radius: 100%;
padding-left: 5px;
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
}
.p-Home.Div105 {
;
}
.p-Home.section_Div115 {
padding-top: 150px;
padding-right: 100px;
padding-bottom: 100px;
padding-left: 100px;
background-color: #fff8f3;
}
.p-Home.Flex61 {
display: flex;
flex-direction: column;
row-gap: 30px;
}
.p-Home.Div116 {
;
}
.p-Home.Flex62 {
display: flex;
justify-content: space-between;
align-items: center;
}
.p-Home.Div118 {
background-color: transparent;
}
.p-Home.Div119 {
background-color: #ffffff;
border-radius: 50px;
}
.p-Home.Div117 {
;
}
.p-Home.Flex63 {
display: flex;
justify-content: space-between;
column-gap: 30px;
}
.p-Home.Div120 {
width: 50%;
background-color: #ffffff;
border-radius: 30px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}
.p-Home.Flex66 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Div121 {
width: 50%;
}
.p-Home.Flex67 {
display: flex;
flex-direction: column;
column-gap: ;
row-gap: 30px;
}
.p-Home.Div122 {
;
}
.p-Home.Flex68 {
display: flex;
justify-content: space-around;
column-gap: 30px;
}
.p-Home.Div124 {
background-color: #ffffff;
padding-bottom: 20px;
width: ;
border-radius: 30px;
}
.p-Home.Flex70 {
display: flex;
row-gap: 10px;
flex-direction: column;
}
.p-Home.Div125 {
background-color: #ffffff;
padding-bottom: 20px;
border-radius: 30px;
}
.p-Home.Flex72 {
display: flex;
row-gap: 10px;
flex-direction: column;
}
.p-Home.Div123 {
;
}
.p-Home.Flex69 {
display: flex;
justify-content: space-around;
column-gap: 30px;
}
.p-Home.Div126 {
background-color: #ffffff;
padding-bottom: 20px;
border-radius: 30px;
}
.p-Home.Flex71 {
display: flex;
row-gap: 10px;
flex-direction: column;
}
.p-Home.Div127 {
background-color: #ffffff;
padding-bottom: 20px;
border-radius: 30px;
}
.p-Home.Flex73 {
display: flex;
row-gap: 10px;
flex-direction: column;
}
.p-Home.section_Div128 {
;
}
.p-Home.Flex74 {
display: flex;
}
.p-Home.Div129 {
width: 50%;
padding-top: 100px;
padding-left: 150px;
padding-bottom: 100px;
align-self: center;
}
.p-Home.Flex75 {
display: flex;
flex-direction: column;
align-items: stretch;
row-gap: 20px;
justify-content: flex-start;
}
.p-Home.Div133 {
;
}
.p-Home.Flex91 {
display: flex;
column-gap: 20px;
}
.p-Home.Div134 {
;
}
.p-Home.Flex90 {
display: flex;
column-gap: 20px;
}
.p-Home.Div135 {
;
}
.p-Home.Flex89 {
display: flex;
justify-content: flex-start;
column-gap: 20px;
}
.p-Home.Div130 {
width: 50%;
padding-top: 100px;
padding-bottom: 100px;
background-color: #ff7620;
}
.p-Home.Div131 {
padding-top: 80px;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 30px;
border-width: 3px;
border-style: solid;
border-color: #bababa;
border-radius: 40px;
width: ;
overflow: visible;
background-color: #ffffff;
right: 140px;
position: relative;
}
.p-Home.Flex77 {
display: flex;
flex-direction: column;
row-gap: 30px;
}
.p-Home.Div136 {
;
}
.p-Home.Flex78 {
display: flex;
justify-content: space-between;
flex-direction: row;
column-gap: 20px;
}
.p-Home.Div142 {
;
}
.p-Home.Flex83 {
display: flex;
flex-direction: column;
row-gap: 20px;
align-items: stretch;
align-self: auto;
}
.p-Home.Div143 {
;
}
.p-Home.Flex84 {
display: flex;
flex-direction: column;
justify-content: flex-start;
row-gap: 20px;
}
.p-Home.Div137 {
;
}
.p-Home.Flex79 {
display: flex;
justify-content: space-between;
}
.p-Home.Div144 {
;
}
.p-Home.Flex85 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Div145 {
;
}
.p-Home.Flex86 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Div138 {
;
}
.p-Home.Flex80 {
display: flex;
justify-content: space-between;
row-gap: ;
column-gap: ;
}
.p-Home.Div146 {
;
}
.p-Home.Flex87 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Div147 {
;
}
.p-Home.Flex88 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Div139 {
;
}
.p-Home.Flex81 {
display: flex;
row-gap: 20px;
flex-direction: column;
justify-content: space-between;
}
.p-Home.Div140 {
;
}
.p-Home.section_Div155 {
padding-top: 150px;
padding-right: 100px;
padding-bottom: 150px;
padding-left: 100px;
background-color: #fff9f3;
}
.p-Home.Flex96 {
display: flex;
justify-content: flex-start;
flex-direction: column;
row-gap: 30px;
align-items: stretch;
align-content: stretch;
}
.p-Home.Div156 {
;
}
.p-Home.Flex97 {
display: flex;
justify-content: space-between;
}
.p-Home.Div157 {
;
}
.p-Home.Flex98 {
display: flex;
justify-content: space-between;
column-gap: 30px;
}
.p-Home.Div161 {
width: 33%;
}
.p-Home.Flex99 {
display: flex;
flex-direction: column;
row-gap: 30px;
justify-content: flex-start;
}
.p-Home.Div162 {
;
}
.p-Home.Flex100 {
display: flex;
column-gap: 30px;
}
.p-Home.Div163 {
;
}
.p-Home.Flex101 {
display: flex;
column-gap: 30px;
}
.p-Home.section_Div164 {
padding-top: 100px;
padding-right: 150px;
padding-bottom: 50px;
padding-left: 150px;
}
.p-Home.Flex102 {
display: flex;
justify-content: space-between;
column-gap: 40px;
}
.p-Home.Div165 {
width: 33%;
}
.p-Home.Flex103 {
display: flex;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Div168 {
;
}
.p-Home.Flex106 {
display: flex;
column-gap: 10px;
}
.p-Home.Div166 {
width: 33%;
}
.p-Home.Flex104 {
display: flex;
}
.p-Home.Div169 {
padding-left: 5px;
padding-right: 5px;
}
.p-Home.Flex107 {
display: flex;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Div170 {
padding-right: 5px;
}
.p-Home.Flex108 {
display: flex;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Div167 {
width: 33%;
}
.p-Home.Flex105 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Div171 {
;
}
.p-Home.Flex109 {
display: flex;
flex-direction: column;
row-gap: 20px;
}
.p-Home.Div172 {
;
}
.p-Home.Flex110 {
display: flex;
column-gap: 20px;
}
.p-Home.Div174 {
;
}
.p-Home.Div175 {
;
}
.p-Home.Div173 {
;
}
.p-Home.Flex111 {
display: flex;
column-gap: 20px;
}
.p-Home.Div176 {
;
}
.p-Home.Div177 {
;
}
.p-Home.Div13 {
background-image: url("/app-assets/616da2c309aa0721dacedf0a_logo-restaurante-x-template.svg");
overflow: auto;
width: 244px;
height: 33px;
align-self: auto;
border-color: transparent;
}
.p-Home.TextBox4 {
;
}
.p-Home.TextBox5 {
;
}
.p-Home.TextBox6 {
;
}
.p-Home.TextBox7 {
;
}
.p-Home.TextBox8 {
;
}
.p-Home.Button2 {
color: #010101;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
width: ;
}
.p-Home.Button3 {
color: #fff;
background-color: #ff7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
width: 45%;
}
.p-Home.TextBox12 {
font-size: 50px;
text-align: left;
margin-bottom: 10px;
color: #ff7629;
}
.p-Home.TextBox13 {
height: 60%;
}
.p-Home.TextBox11 {
font-size: 50px;
padding-bottom: ;
margin-bottom: 10px;
}
.p-Home.Button4 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
}
.p-Home.Button5 {
color: #fff;
background-color: #ff7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
margin-right: 20px;
margin-left: ;
}
.p-Home.Image4 {
overflow: visible;
width: 400px;
height: ;
border-radius: 40px;
border-style: none;
position: relative;
right: 200px;
float: right;
padding-top: ;
padding-bottom: ;
padding-left: ;
padding-right: ;
}
.p-Home.TextBox15 {
align-self: center;
font-size: 20px;
}
.p-Home.Image5 {
;
}
.p-Home.Image6 {
;
}
.p-Home.Image7 {
;
}
.p-Home.Image8 {
;
}
.p-Home.TextBox29 {
font-size: 30px;
}
.p-Home.Image15 {
;
}
.p-Home.TextBox30 {
font-size: 22px;
}
.p-Home.TextBox31 {
align-self: flex-start;
font-size: 18px;
}
.p-Home.TextBox32 {
font-size: 20px;
}
.p-Home.Image16 {
;
}
.p-Home.TextBox33 {
font-size: 22px;
}
.p-Home.TextBox34 {
align-self: flex-start;
font-size: 18px;
}
.p-Home.TextBox35 {
font-size: 20px;
}
.p-Home.Image17 {
;
}
.p-Home.TextBox36 {
font-size: 22px;
}
.p-Home.TextBox37 {
align-self: flex-start;
font-size: 18px;
}
.p-Home.TextBox38 {
font-size: 20px;
}
.p-Home.Image18 {
;
}
.p-Home.TextBox39 {
font-size: 22px;
}
.p-Home.TextBox40 {
align-self: flex-start;
font-size: 18px;
}
.p-Home.TextBox41 {
font-size: 20px;
}
.p-Home.Button8 {
color: #fff;
background-color: #ff7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
}
.p-Home.Button9 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
}
.p-Home.Image19 {
width: 460px;
height: ;
border-radius: 30px;
}
.p-Home.TextBox100 {
font-size: 20px;
}
.p-Home.Image47 {
;
}
.p-Home.TextBox101 {
color: #8d8d8d;
font-size: 16px;
width: 45%;
}
.p-Home.Image48 {
;
}
.p-Home.TextBox102 {
color: #8d8d8d;
font-size: 16px;
}
.p-Home.Image49 {
;
}
.p-Home.TextBox103 {
color: #8d8d8d;
font-size: 16px;
}
.p-Home.TextBox42 {
font-size: 32px;
}
.p-Home.TextBox43 {
font-size: 16px;
text-align: left;
color: #727272;
}
.p-Home.TextBox44 {
color: #727272;
font-size: 16px;
}
.p-Home.Button12 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
}
.p-Home.Button13 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
}
.p-Home.TextBox62 {
align-self: auto;
font-size: 32px;
}
.p-Home.TextBox63 {
font-size: 16px;
color: #727272;
text-align: left;
}
.p-Home.Image20 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox45 {
font-size: 24px;
}
.p-Home.TextBox46 {
align-self: auto;
color: #686868;
text-align: center;
font-size: 16px;
}
.p-Home.Image21 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox48 {
font-size: 24px;
}
.p-Home.TextBox49 {
text-align: center;
color: #686868;
font-size: 16px;
}
.p-Home.Image22 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox50 {
font-size: 24px;
}
.p-Home.TextBox51 {
text-align: center;
color: #686868;
font-size: 16px;
}
.p-Home.Image23 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox52 {
font-size: 24px;
}
.p-Home.TextBox53 {
color: #686868;
text-align: center;
font-size: 16px;
}
.p-Home.Image25 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox54 {
font-size: 24px;
}
.p-Home.TextBox55 {
color: #686868;
text-align: center;
font-size: 16px;
}
.p-Home.Image26 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox56 {
font-size: 24px;
}
.p-Home.TextBox57 {
color: #686868;
text-align: center;
font-size: 16px;
}
.p-Home.Image27 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox58 {
font-size: 24px;
}
.p-Home.TextBox59 {
color: #686868;
text-align: center;
font-size: 16px;
}
.p-Home.Image28 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Home.TextBox60 {
font-size: 24px;
}
.p-Home.TextBox61 {
text-align: center;
color: #686868;
font-size: 16px;
}
.p-Home.Button14 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #FF7629;
cursor: pointer;
user-select: none;
}
.p-Home.Button15 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
}
.p-Home.TextBox64 {
font-size: 38px;
color: #ffffff;
}
.p-Home.TextBox66 {
font-size: 16px;
color: #ffffff;
}
.p-Home.Button16 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffffff;
cursor: pointer;
user-select: none;
}
.p-Home.Button17 {
color: #fff;
background-color: #f55a01;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffffff;
cursor: pointer;
user-select: none;
}
.p-Home.Image29 {
overflow: visible;
width: 100%;
height: 100%;
}
.p-Home.TextBox69 {
font-size: 16px;
}
.p-Home.Button18 {
color: #fff;
background-color: #ff7620;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #f55a01;
cursor: pointer;
user-select: none;
}
.p-Home.Button19 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
}
.p-Home.TextBox68 {
text-align: center;
font-size: 16px;
}
.p-Home.Image30 {
width: 100%;
height: 100%;
background-color: #FF7629;
border-radius: 50px;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 5px;
padding-right: 5px;
}
.p-Home.TextBox70 {
font-size: 14px;
}
.p-Home.TextBox71 {
font-size: 24px;
}
.p-Home.Image32 {
;
}
.p-Home.Image33 {
;
}
.p-Home.Image34 {
;
}
.p-Home.Image35 {
;
}
.p-Home.Image36 {
;
}
.p-Home.Image37 {
width: 100%;
height: 100%;
}
.p-Home.TextBox72 {
font-size: 16px;
}
.p-Home.TextBox73 {
font-size: 16px;
}
.p-Home.Image31 {
width: 100%;
height: 100%;
padding-top: 5px;
padding-left: 5px;
padding-bottom: 5px;
padding-right: 5px;
border-radius: 50px;
background-color: #FF7629;
}
.p-Home.TextBox67 {
font-size: 32px;
}
.p-Home.TextBox86 {
font-size: 32px;
}
.p-Home.TextBox87 {
padding-top: 20px;
padding-right: 20px;
padding-left: 20px;
padding-bottom: 20px;
border-radius: ;
font-size: 16px;
}
.p-Home.Image38 {
width: 100%;
border-radius: ;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}
.p-Home.TextBox74 {
padding-top: 20px;
padding-left: 20px;
padding-right: 10px;
font-size: 15px;
color: #737373;
}
.p-Home.TextBox75 {
padding-left: 20px;
padding-right: 10px;
font-size: 26px;
}
.p-Home.TextBox76 {
padding-left: 20px;
padding-right: 10px;
padding-bottom: 30px;
font-size: 15px;
color: #8f8f8f;
}
.p-Home.Image39 {
width: 100%;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}
.p-Home.TextBox77 {
color: #737373;
padding-top: 20px;
padding-right: 10px;
padding-left: 20px;
font-size: 15px;
}
.p-Home.TextBox78 {
padding-left: 20px;
padding-right: 10px;
font-size: 16px;
}
.p-Home.Image41 {
width: 100%;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}
.p-Home.TextBox81 {
color: #737373;
padding-top: 20px;
padding-right: 10px;
padding-left: 20px;
font-size: 15px;
}
.p-Home.TextBox82 {
padding-left: 20px;
padding-right: 10px;
font-size: 16px;
}
.p-Home.Image40 {
width: 100%;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}
.p-Home.TextBox79 {
color: #737373;
padding-top: 20px;
padding-left: 20px;
padding-right: 10px;
font-size: 15px;
}
.p-Home.TextBox80 {
padding-left: 20px;
padding-right: 10px;
font-size: 16px;
}
.p-Home.Image42 {
width: 100%;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}
.p-Home.TextBox84 {
padding-top: 20px;
padding-right: 10px;
padding-left: 20px;
font-size: 15px;
color: #737373;
}
.p-Home.TextBox85 {
padding-left: 20px;
padding-right: 10px;
font-size: 16px;
}
.p-Home.TextBox88 {
font-size: 34px;
}
.p-Home.TextBox89 {
color: #727171;
font-size: 16px;
width: 60%;
}
.p-Home.Image45 {
;
}
.p-Home.TextBox99 {
color: #727171;
font-size: 16px;
}
.p-Home.Image44 {
;
}
.p-Home.TextBox98 {
color: #727171;
font-size: 16px;
}
.p-Home.Image43 {
;
}
.p-Home.TextBox97 {
text-align: left;
color: #727171;
font-size: 16px;
width: 45%;
}
.p-Home.TextBox90 {
align-self: auto;
font-size: 16px;
}
.p-Home.Input1 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
align-self: flex-start;
width: px;
}
.p-Home.TextBox91 {
font-size: 16px;
}
.p-Home.Input2 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox92 {
font-size: 16px;
}
.p-Home.Input3 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox96 {
font-size: 16px;
}
.p-Home.Input4 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox93 {
font-size: 16px;
}
.p-Home.Input6 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox95 {
font-size: 16px;
}
.p-Home.Input7 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox94 {
font-size: 16px;
}
.p-Home.Input5 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 11px;
padding-left: 15px;
padding-bottom: 11px;
padding-right: 15px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
height: 180px;
align-self: auto;
text-align: center;
}
.p-Home.Button20 {
color: #fff;
background-color: #ff7620;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 20px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #ff7620;
cursor: pointer;
user-select: none;
}
.p-Home.TextBox104 {
font-size: 32px;
}
.p-Home.Button21 {
color: #fff;
background-color: #ff7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
}
.p-Home.Image50 {
width: 30%;
border-radius: 30px;
height: ;
}
.p-Home.Image51 {
width: 30%;
border-radius: 30px;
height: 300px;
}
.p-Home.Image52 {
width: 50%;
border-radius: 20px;
height: ;
}
.p-Home.Image53 {
width: 50%;
border-radius: 20px;
}
.p-Home.Image54 {
width: 50%;
border-radius: 20px;
}
.p-Home.Image55 {
width: 50%;
border-radius: 20px;
}
.p-Home.Image56 {
;
}
.p-Home.TextBox105 {
color: #7f7c7c;
font-size: 16px;
}
.p-Home.Image57 {
width: 30px;
}
.p-Home.Image58 {
width: 30px;
}
.p-Home.Image59 {
width: 30px;
}
.p-Home.Image60 {
width: 30px;
}
.p-Home.Image61 {
width: 30px;
}
.p-Home.TextBox107 {
padding-right: 40px;
padding-bottom: 20px;
font-size: 20px;
}
.p-Home.TextBox108 {
color: #7f7c7c;
}
.p-Home.TextBox109 {
color: #7f7c7c;
}
.p-Home.TextBox110 {
color: #7f7c7c;
}
.p-Home.TextBox111 {
color: #7f7c7c;
}
.p-Home.TextBox112 {
color: #7f7c7c;
}
.p-Home.TextBox113 {
color: #7f7c7c;
}
.p-Home.TextBox114 {
color: #7f7c7c;
}
.p-Home.TextBox115 {
padding-right: 40px;
padding-bottom: 20px;
font-size: 20px;
}
.p-Home.TextBox116 {
color: #7f7c7c;
}
.p-Home.TextBox117 {
color: #7f7c7c;
}
.p-Home.TextBox118 {
color: #7f7c7c;
}
.p-Home.TextBox119 {
color: #7f7c7c;
}
.p-Home.TextBox120 {
color: #7f7c7c;
}
.p-Home.TextBox121 {
color: #7f7c7c;
}
.p-Home.TextBox122 {
color: #7f7c7c;
}
.p-Home.TextBox106 {
font-size: 20px;
}
.p-Home.Image62 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image64 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Home.Image65 {
width: 145px;
border-radius: 25px;
}
.p-Home.Image66 {
width: 145px;
border-radius: 25px;
}
